<html>
    <head>
        <link rel="shortcut icon" href="Images\favicon.png"/>
        <title>
            MovieFlix
        </title>
        <link rel="stylesheet" href="Images\css\style.css"/>
    </head>
    <body>
        <div class="root">
            <nav class="navbar">
                <img class="img-logo"src="Images\logo.png"/>
                <div onclick="location='reg.php'"  class="btn-sign-in">Sign in</div>
            </nav>
            <div class="main-container">
                <div class="main-titles-container">
                    <h1 class="main-title">Unlimited movies,TV shows and more.</h1>
                    <h2 class="main-subtitle">Watch anywhere,cancel anytime.</h2>
                    <p class="main-action">Ready to Watch? Get Started to create Your membership</p>
                </div>
                <div onclick="location='login.php'" class="get-started">Get Started ></div>
            </div>
        </div>
    </body>
</html>